@import "tailwindcss";

:root {
    --clr-p: #9e7242;
    --clr-s: #f09051;
}

.animated-gradient {
    background: linear-gradient(-35deg, var(--clr-s), var(--clr-p), var(--clr-s));
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
    border: 0px;
    box-shadow: 1px 2px 4px -2px rgba(0, 0, 0, 0.35);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}